.loader {
  position: fixed;
  top: 3rem;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .loader-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 48px;
  color: #0363b7;
  animation: spin 1s ease infinite;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
