.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header a,
.header button {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  text-align: left;
  padding: 1rem 20px;
}
.logo { font-size: 1rem; font-weight: 700; line-height: 1; padding: 0; }
.pagetitle { font-size: 1rem; text-align: center; }
.header .header-actions { display: flex; }
.header .nav-primary .ui-drawer-contents-inner { display: flex; flex-direction: column; }
.header .nav-primary .ui-drawer-contents-inner a,
.header .nav-primary .ui-drawer-contents-inner button { border-bottom: 1px solid #dcdcdc; }
